.heading {
    position:absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title div {
    align-items: center;
    display: flex;
    width: 150px;
    height: 50px;
    background: #008B8B;
    border-radius: 5px;
    padding: 0 7px;
}

.time_remain,
.seconds {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.quiz_directions, 
.quiz_questions,
.results {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.quiz_directions .directions {
    position: relative;
    top: 50%;
    bottom: 50%;
    font-size: 25px;
    line-height: 35px;
    justify-content: center;
    opacity: 0;

}

.quiz_directions button {
    font:30px;
    padding: 10px 20px;
    font-weight: 750;
    border-radius: 15px;
    cursor:pointer;
    margin: 0 125px;
}

.quiz_questions {
    width: 600px;
    background: #008B8B;
    border-radius: 25px;
    opacity: 0;
}

.questions{
    height: 100px;
    padding: 0 175px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 250;
}

.quiz_questions section {
    padding: 0 25px;

}

.quiz_questions .option_list {
    padding: 15px 0;
}
section .option_list .choices:hover {
    background-color: white;
}

.quiz_questions .option_list .choices {
    font-size: 20px;
    background: lightgray;
    border: 1px solid darkgray;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.quiz_questions footer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px 15px 415px;
}
footer .next {
    font-size: 20px;
    padding:0 15px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid darkgrey;
}

footer .next:hover {
    background-color: darkgrey;
}

.results {
    background: lightgrey;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;

}

.results .completed {
    font-size: 25px;
    font-weight: 600;

}
.results .score span {
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.score span p {
    margin: 0;
    font-weight: 500;
    padding: 0 5px;
    font-weight: 400;
}

.results .end_buttons {
    display: flex;
    margin: 20px 0;
}

.results .end_buttons button {
    height: 50px;
    margin: 0 5px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}